In [82]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

In [83]:
df = pd.read_csv('titanic.csv')

In [84]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [85]:
df.drop('PassengerId',axis=1,inplace=True)

In [86]:
df.drop('Name',axis=1,inplace=True)

In [87]:
df.drop('Embarked',axis=1,inplace=True)

In [88]:
df.drop('Fare',axis=1,inplace=True)

In [89]:
df.drop('Ticket',axis=1,inplace=True)

In [90]:
df.drop('Cabin',axis=1,inplace=True)

In [91]:
df

     Survived  Pclass     Sex   Age  SibSp  Parch
0           0       3    male  22.0      1      0
1           1       1  female  38.0      1      0
2           1       3  female  26.0      0      0
3           1       1  female  35.0      1      0
4           0       3    male  35.0      0      0
..        ...     ...     ...   ...    ...    ...
886         0       2    male  27.0      0      0
887         1       1  female  19.0      0      0
888         0       3  female   NaN      1      2
889         1       1    male  26.0      0      0
890         0       3    male  32.0      0      0

[891 rows x 6 columns]

In [92]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
dtype: int64

In [93]:
df=df.dropna(axis=0)

In [94]:
df.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
dtype: int64