In [ ]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

In [ ]:
df = pd.read_csv('titanic.csv')

In [ ]:
df.isnull().sum()

In [ ]:
df.drop('PassengerId',axis=1,inplace=True)

In [ ]:
df.drop('Name',axis=1,inplace=True)

In [ ]:
df.drop('Embarked',axis=1,inplace=True)

In [ ]:
df.drop('Fare',axis=1,inplace=True)

In [ ]:
df.drop('Ticket',axis=1,inplace=True)

In [ ]:
df.drop('Cabin',axis=1,inplace=True)

In [ ]:
df

In [ ]:
df.isnull().sum()

In [ ]:
df['Age'].fillna(df['Age'].mean(), inplace = True)

In [ ]:
df.isnull().sum()